.current-player-name {
  text-align: center;
  font-size: 72;
}

#current-player-name {
  font-size: 40px;
}


.end-turn {
  margin: 0px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 250px;
}

.resource-tab {
  border: 1px solid white;
  width: 250px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: black;
  height: 229px;
}

.resource-tab h3 {
  font-size: 25px;
  margin: 0px;
  margin-bottom: 3px;
  padding: 4px;
  padding-left: 5px;
  border-bottom: 1px solid white;
  position: relative;
  text-align: right;
}

.resource-tab h1 {
text-align: center;
background-color: #0081b4;
margin: 0px;
padding: 5px;
}

.resource-color {
  width: 34px;
  height: 34px;
  display: inline-block;
  float: left;
  margin-left: -4px;
  margin-top: -5px;

}

.hydrogen {
  background-image: url(/assets/waterplanet.png);
  background-size: contain;
}

.carbon {
  background-image: url(/assets/foodplanet.png);
  background-size: contain;
}

.plasma {
  background-image: url(/assets/plasmaplanet.png);
  background-size: contain;
}

.zero {
  background-image: url(/assets/platplanet.png);
  background-size: contain;
}

.oxygen {
  background-image: url(/assets/oxygenplanet.png);
  background-size: contain;
}

.build-tab {
  width: 731px;
  position: relative;
  left: 0 auto;
  margin: 0 auto;
  margin-top: 20px;
  background-color: black;
}

.building-tab {
  display: inline-block;
  border: 1px solid white;
  width: 180px;
  text-align: center;
  position: absolute;
  height: 204px;
  background-color: black;
  margin-bottom: 10px;
}

#road {
  left: 0px;
}

#base {
  left: 180px;
}

#city{
  left: 360px;
}
#devcard {
  left: 540px;
}


.building-tab div{
  margin: 0px;
  float: left;
  margin-top: -3px;
}

.building-tab h3{
  margin: 0px;
  margin-top: 3px;
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid white;
  text-align: right;
  height: 27px;
}
.build-tab  h2{
  background-color: #0081b4;
  margin: 0px;
  padding: 5px;
  font-size: 30px;
}
